{% block title %}Acesso à Turma{% endblock %}
{% block content %}
<div class="centered-container">
    <div class="card" style="max-width: 400px;">
        <h2 style="font-family: 'Roboto'; text-transform: none; font-weight: 400; color: var(--text-muted)">Turma</h2>
        <h1 class="logo-text" style="font-size: 2.2rem; margin-top: -0.5rem;">{{ turma.nome }}</h1>
        <p style="color: var(--text-muted); margin-top: 0; margin-bottom: 2rem;">Insira o código de acesso para continuar.</p>
        
        {% if messages %}
            {% for message in messages %}
                <div class="message message-error">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_codigo_acesso">Código de Acesso</label>
                <input type="password" name="codigo_acesso" required id="id_codigo_acesso" autofocus>
            </div>
            <button type="submit" class="btn btn-primary" style="width: 100%;">Entrar na Turma</button>
        </form>
    </div>
</div>
{% endblock %}